body {
    margin: 0;
}

#map {
    height: calc(100vh - 4px);
}

#legend {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 30px;
    width: 25vw;
    right: 10px;
    bottom: 30px;
    z-index: 400;
}

#legend-labels {
    display: flex;
    justify-content: space-between;
    text-shadow:
        1px 0px 1px white, 
        -1px 0px 1px white, 
        0px 1px 1px white, 
        0px -1px 1px white, 
        1px 1px 1px white, 
        -1px -1px 1px white, 
        -1px 1px 1px white, 
        1px -1px 1px white;
}

#legend-ramp {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(215 25 28), rgb(255 255 192), rgb(26 150 65));
    box-shadow:
        1px 0px 1px white, 
        -1px 0px 1px white, 
        0px 1px 1px white, 
        0px -1px 1px white, 
        1px 1px 1px white, 
        -1px -1px 1px white, 
        -1px 1px 1px white, 
        1px -1px 1px white;
}

img.leaflet-tile {
    image-rendering: pixelated;
}


.font-awesome-toolbar {
    transform: scale(1.3);
    opacity: 0.7;
    position: absolute;
    left: 0px;
    top: 12px;
}

#search {
    position: fixed;
    z-index: 500;
    top: 10px;
    left: 50px;
    width: 280px;
}

#search .selection {
    border: #bbb 2px solid;
    height: 35px;
    width: 100%;
    padding-left: 10px;
}

#search i {
    position: absolute;
    right: 10px;
    font-size: 14px;
    opacity: 0.4;
    margin-top: 12px;
}

input[type="file"] {
    display: none;
}